$font-family: "Open Sans";

$width-max: 1280px;

$color-white: #ffffff;
$color-primary: #354FE6;
$color-primary-light: #354FE640;
$color-secondary: #ffc97b;
$color-danger: #D1345B;
$color-danger-opacity: #F6C3CB;
$color-danger-dark: #721C23;
$color-success: #01BD5B;
$color-success-opacity: #80CBAC;
$color-success-dark: #374E4F;
$color-text: #475367;
$color-placeholder: #cccccc;
$color-text-light: #8c8c8c;
$color-grey-light: #d3d3d3;
$color-background: #E7E7ED;
$color-panel-background: #F9F7FA;
$color-sidebar: #1a1a1a;
$color-sidebar-active: #00161e;
$color-sidebar-hover: #252525;
$color-border-light: #edecec;
$color-border: #d3d3d3;
$color-focus: #ffc97b;
$color-mask-black: rgba(0,0,0,0.5);