@import 'variables.scss';
@import 'mixins.scss';

.button {
    @include shadow;
    @include font-body;
    @include hover-transparent;
    @include focus-box;

    font-weight: 600;
    font-size: 18px;
    padding: 8px 32px;
    display: inline-block;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;

    border: 3px solid $color-primary;
    background: $color-primary;
    color: $color-white;

    &.loading {
        cursor: progress;
        opacity: 0.3;
    }
}